{%load static%}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">
<!-- suchana/about-us.html  22 Nov 2019 04:16:21 GMT -->
<head>

    <title>Suchana - Blog, News & Magazine HTML Template</title>
    {% include './snippets/head.html' %}
</head>

<body>
    <!--PRELOADER-->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!--*Header*-->
    {% include './snippets/header.html' %}
    <!--* End Header*-->

    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center bg-orange">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>About Us</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Page</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- BreadCrumb Ends -->

    <!-- checkout -->
    <section class="about-us">
        <div class="container">
            <div class="about-main">
                <div class="about-image">
                    <img src="{% static 'blog/images/img-about.jpg' %}" alt="about">
                </div>
                <div class="about-main-content mar-top-30">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="about-content">
                                <h4>WHO’S HANNAH?</h4>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="about-content">
                                <h4>WHERE TO TRAVEL?</h4>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis biben. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="about-content">
                                <h4>POPULAR TOURS</h4>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <blockquote class="mar-top-30">
                    <p>Sed felis est, placerat a ornare vel, tempor id est. Phasellus ac urna vitae massa porttitor lacinia. Integer mollis, nulla pretium porttitor sagittis, urna nibh lobortis eros, ut lacinia elit velit nec diam.</p>
                    <span>Arthur &amp; Molly Weasley</span>
                </blockquote>

                <div class="about-sep mar-top-10">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="about-content">
                                <h3>AROUND THE WORLD IN 10 DAYS</h3>
                                <p>Aenean eget odio vel nulla ullamcorper scelerisque. Vestibulum eget diam non velit aliquam fringilla. Praesent et mi turpis. Proin in felis nec dui efficitur aliquam vitae sed urna. Aliquam scelerisque cursus est eu porta. Sed euismod lacus nec ultricies tincidunt.<br><br> lorem quis biben. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="about-image">
                                <img src="{% static 'blog/images/img-about1.jpg' %}" alt="">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="about-content">
                                <h3>Great Calorie Burning Sports To Try Out Summer</h3>
                                <p>Quis eu odio imperdiet dictumst faucibus quam nostra lorem lorem facilisi sem eget aliquet dignissim ornare ultrices ut. Posuere aliquam maecenas imperdiet sit nonummy. Aenean auctor nulla est auctor conubia porttitor elementum taciti hymenaeos.<br><br> Aptent dui justo donec porta neque Lacinia Dui aliquet. Cras ullamcorper nulla tortor eros maecenas sodales magnis natoque sit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End checkout -->

    <div class="mt_instagram mar-bottom-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_01.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_02.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_03.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_04.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_05.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_06.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_07.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_08.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_09.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_10.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_11.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'blog/images/insta/insta_12.jpg' %}" alt="Image"></a></div>
            </div>
            <div class="sectio-title">
                <h3 class="mar-0"><a href="#">Follow @ Instagram</a></h3>
            </div>
        </div> 
    </div>

    <!--*Footer*-->
    {% include './snippets/footer.html' %}
    <!--* End Footer*-->  

    <!-- back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>

    <!-- search popup -->
    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!--*Scripts*-->
    <!-- Latest jquery --><script src="js/jquery-3.2.1.min.js"></script>
    <!-- Plugin Jquery --><script src="js/plugin.js"></script>
    <!-- custom nav jquery --><script src="js/custom-nav.js"></script>
    <!-- main default Jquery --><script src="js/main.js"></script>
</body>

<!-- suchana/about-us.html  22 Nov 2019 04:16:22 GMT -->
</html>